.crop-management-container h2 {
    color: #4CAF50; /* Customize with the desired color */
}

.search-panel input {
    padding: 8px;
    width: 100%;
    margin-bottom: 10px;
    border: 1px solid #ddd;
}

table {
    width: 100%;
    border-collapse: collapse;
}

table, th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

button {
    margin: 5px;
    padding: 5px 10px;
    cursor: pointer;
}
.crop-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    border-radius: 4px;
}
