#sidebar-wrapper {
    width: 250px;
    height: 100vh;
    position: fixed;
    overflow-y: auto;
}

.sidebar-heading {
    background-color: #e3f9e5;
}

.menu-icon {
    width: 40px;
    height: 40px;
    margin-right: 10px;
    border-radius: 50%;
}

.list-group-item {
    display: flex;
    align-items: center;
    justify-content: start;
    background-color: #f8f9fa;
    color: #333;
    transition: all 0.3s ease;
    padding: 10px 15px;
}

.list-group-item:hover {
    background-color: #d1f5d3;
    color: #1e7c4e;
}

#page-content-wrapper {
    padding-top: 20px;
    width: 100%;
    height: auto;
    margin-left: 250px;

}

.content-section {
    display: none;
}

.content-section.active {
    display: block;
}

/* Responsive adjustments */
@media (max-width: 768px) {
    #sidebar-wrapper {
        width: 100%;
        position: relative;
    }

    #page-content-wrapper {
        margin-left: 0;
    }
}
