body {
    background-color: #f9f9f9;
}

.card {
    border: 1px solid #e3f9e5;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.2rem;
}

.btn-success {
    font-weight: bold;
}

#liveUserCount,
#memberCount {
    font-size: 2.5rem;
    color: #1e7c4e;
}
body {
    margin: 0;
    padding: 0;
}

#sidebar {
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    overflow-y: auto;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.section {

    padding: 20px;
}

#homeSection {
    display: block; /* Home is visible by default */
}

.card {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.card-title {
    font-size: 1.2rem;
}

#liveUserCount,
#memberCount {
    font-size: 2.5rem;
    color: #1e7c4e;
}
