#vehiclesSection{
    width: 70%;
    height: 100%;
    align-content: center;
    top: -15%;
    right: 0%;
    left: 20%;
    bottom: 0;
    position: absolute;

}
.content-section {
    padding: 20px;
}

.table-bordered {
    border: 1px solid #ddd;
    border-radius: 5px;
}

.table-success {
    background-color: #d4edda;
}

.table th,
.table td {
    text-align: center;
    vertical-align: middle;
}

.btn-success {
    background-color: #28a745;
    color: white;
}

.btn-primary {
    background-color: #007bff;
    color: white;
}

.btn-danger {
    background-color: #dc3545;
    color: white;
}

.modal-content {
    border-radius: 10px;
}

.mb-3 {
    margin-bottom: 15px;
}
